body{
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*headings */
h1{
    font-family: 'Karla', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 1.5;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
p{
    color: #F7F7E8;
}
/*title section*/
.container-fluid{
    padding: 3% 15%;
}

.navbar{
    padding: 0 0;
}
.navbar-brand{
    font-size: 2.5rem;
    font-family: "Ubuntu";
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    color: #faf1e6;
}
.nav-item:hover{
    background-color: #687980;
    
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-img{
    width: 60%;
    transform: rotate(-10deg);
    margin: 10%;
    
}
/*features section*/
#features{
    
    padding: 5% 15%;   
}
.feature-box{
    padding: 5%;
    text-align: center;
}
.icon{
    margin-bottom: 1rem;
    color: #FDFFBC;
}
.icon:hover{
    color: #C0E218;
}
/*items section*/
#testimonials{
    color: white;
    text-align: center;
}
.testimonials-img{
    
    width: 30%;
    border-radius: 100%;
}
.carousel-item{
    padding: 7% 15%;   
}

/*ordering section*/

#ordering{
    padding: 5% 25%;
}
.card-body{
    text-align: center;
}
.card-text, .footername{
    color: #564A4A;
}
#orderform{
    color: white;
    padding: 7% 13%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    
}
.submit-button{
    margin: 3% 0 0 50%;
}

/*contact section*/

#contact{
    padding: 5% 15%;
    color: #564A4A;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.contact-title{
    color: #5D534A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 1.5;
}
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


/*footer section*/

#footer{
    padding: 10px 15%;
    text-align: center;
    background-color: white;
}
.social-media{
    margin: 25px 20px;
}

/*media breakpoint*/
@media (max-width: 1024px){
    .title-img{
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
    h1{
        font-size: 2.5rem;
    }
    #contact{
        font-size: 0.5rem;
        
    }
    .contact-title{
        font-size: 2rem;
    }
    .submit-button{
        margin-left: 90px;
    }
    .navbar-title{
        font-size: 1.9rem;
        text-align: center;
    }
    .testimonials-img{
        width: 60%;
    }
    h2{
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .bulkorder-card{
         width: 255px;
         height: 320px;
    }
    #ordering{
        
        padding: 5% 16%;
    }

}

