body{
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*headings */
h1{
    font-family: 'Karla', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 1.5;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: #5F939A;
}
/*title section*/
.container-fluid{
    padding: 3% 15% !important;
}
#title{
    background-color: #ff8882;
}
.navbar{
    padding: 0 0;
}
.navbar-brand{
    font-size: 2.5rem;
    font-family: "Ubuntu";
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    color: #faf1e6;
}
.nav-item:hover{
    background-color: #687980;
    
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-img{
    transform: rotate(-10deg);
    margin: 10%;
    
}
/*features section*/
#features{
    
    padding: 5% 15%;   
}
.feature-box{
    padding: 5%;
    text-align: center;
}
.icon{
    margin-bottom: 1rem;
    color: green;
}
.icon:hover{
    color: #C0E218;
}
/*items section*/
#testimonials{
    
    background-color: #ff8882;
    color: white;
    text-align: center;
}
.testimonials-img{
    
    width: 30%;
    border-radius: 100%;
}
.carousel-item{
    padding: 7% 15%;   
}
#ordering{
    background-image: url(image/background.jpg);
    padding: 5% 25%;
}
.card-body{
    text-align: center;
}

#contact{
    background-color: #ff8882;
    padding: 5% 15%;
    color: #564A4A;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

table{
    margin:5% 0 0 15%;
}
.contact-icons{
    color: #2F5D62;
    
}

.mail{
    color: #564A4A;
}
#footer{
    padding: 10px 15%;
    text-align: center;
    background-color: white;
}
.social-media{
    margin: 25px 20px;
}
#orderform{
    color: white;
    padding: 7% 13%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    
}

.submit-button{
    margin: 3% 0 0 50%;
}
@media (max-width: 1024px){
    .title-img{
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
    h1{
        font-size: 2.5rem;
    }
    #contact{
        font-size: 0.5rem;
        
    }
    .submit-button{
        margin-left: 90px;
    }
}